doctype html
html
  head 
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/css/style.css')
    title= "Talk"
  body
    div.modal.fade.alert(tabindex="-1",role="dialog",aria-labelledby="mySmallModalLabel",aria-hidden="true")
      div.modal-dialog.modal-sm
        div.modal-content
          div.modal-header
            button.close(type="button", data-dismiss="modal" aria-hidden="true") &times;
            h4#alert-label.modal-title= "Warning"
            <h4 class="" id=""></h4>
          div.modal-body
            p= "No name no talking!"
    
    .container
      #talkbox
      form.controls.from-inline(role="form")
        input#name.form-control.input.name(type="text", placeholder="name")
        input#send.btn.btn-primary.input.send(type="button", value="send")
        input#message.form-control.input.message(type="text", placeholder="say something...")
    
    script(src="/socket.io/socket.io.js")
    script(src="//code.jquery.com/jquery-2.1.0.js")
    script(src="/js/bootstrap.js")
    script(src="/js/script.js")